.overlay {
    background-color: rgba(0, 0, 0, 0.753);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.basket {
    width:60%;
    height:60%;
    background-color: white;
    border: 2px solid purple;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}