* {
  margin: 0px;
  padding: 0px;
}
.cat {
  width: 70px;
  height: 70px;
  padding: 3px;
}
.searchlogo {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-left: -40px;
  opacity: 0.8;
}
.nav1 {
  height: 110px;
  width: auto;
  background-color:#4c24e1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
}

input {
  padding-left: 10px;
  margin-left: 20px;
  font-size: 16px;
  width:450px;
  height: 42px;
  border-radius: 5px;
}
span {
  font-weight:bold;
  font-size: 20px;
  background-color: #1f0e64;
  color:  #f8f9fc;
  height: 35px;
  width: 160px;
  text-align: center;
  border-radius: 5px;
  margin-top: 0px;
  padding-top: 11px;
  margin-right: -20px;
  text-align: center;
}
.cartlogo {
  cursor: pointer;
  margin-top: 3px;
  width: 40px;
  height: 40px;
  margin-left: 50px;
}
