.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;

  max-width: 80%;
  margin: 0 auto;
}

.cat-card-container {
  display: flex;
}

.cat-card {
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 250px;

  overflow: hidden;
}

.cat-images {
  object-fit: cover;

  height: 200px;
  width: 250px;
}

h4 {
  margin: 5px 15px;
}

h3 {
  margin: 10px 15px 5px 15px;
}

p {
  font-size: 12px;
  margin: 5px 15px 10px 15px;
  text-align: justify;
}
