.footer-bg {
  background-color: #4c24e1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100px;
}

.footer-bg p {
  color: #f8f9fc;
  text-align: center;
}

.scroll-icon {
  cursor: pointer;
  bottom: 25px;
  right: 30px;
  position: fixed;
}

.scroll-icon i {
  background-color: #4c24e1;
  border: 3px solid #4c24e1;
  border-radius: 50%;
  color: #f8f9fc;
  font-size: 45px;
  transition: 300ms ease-in;
}

.scroll-icon i:hover {
  background-color: #f8f9fc;
  border: 3px solid #f8f9fc;
  color: #4c24e1;
}
