.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

  max-width: 80%;
  margin: 75px auto;
}

.cat-card {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  border: 1px solid #f7f4ff;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;
  width: 350px;

  overflow: hidden;
}

.cat-images {
  object-fit: cover;

  height: 200px;
  width: 350px;
}

.cat-description-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 10px;
  width: 88%;
}

.cat-description-name {
  color: #1f0e64;
  font-size: 26px;
  font-weight: 600;
  text-align: center;

  padding: 0px;
}

.cat-description-breed {
  background-color: #e9e2fd;
  border-radius: 8px;

  color: #1f0e64;
  font-size: 12px;
  font-weight: 600;

  padding: 3px 10px;
}

.cat-description-text {
  font-size: 14px;
  text-align: justify;
  margin: 10px 20px 20px;
}

.line {
  border: 1px solid #f7f4ff;
  width: 100%;
}

.cat-description-mid {
  display: flex;
  flex-direction: column;

  margin: 15px 0px;
  width: 88%;
}

.cat-reasons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cat-description-mid-title {
  font-size: 14px;
  margin-bottom: 5px;
}

.cat-reasons p {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.fa-cat {
  color: #0700c4;
}

.fa-bowl-food {
  color: #03ac13;
}

.heart {
  color: #b90e0a;
  transition: 300ms ease-in;
}

.cat-description-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 88%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.cat-description-btn {
  background-color: #3911ca;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 12px;
  cursor: pointer;

  color: #f8f9fc;
  font-size: 16px;
  font-weight: 600;

  transition: 300ms ease-in;
  padding: 10px 40px;
  height: 45px;
}

.cat-description-btn:hover {
  background-color: #805dfd;
  cursor: pointer;
}

.cat-description-fee {
  color: #643feb;
  font-size: 14px;
  font-weight: 400;
}

.cat-description-like {
  border: none;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.01);
  border: 0.5px solid #ece8f8;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #b90e0a;
  font-size: 20px;

  transition: 300ms ease-in;
  height: 40px;
  width: 40px;
}

.cat-description-like:hover {
  cursor: pointer;
  background-color: #b90e0a;
  border: 0.5px solid #b90e0a;

  color: #fff;
}
