* {
  margin: 0px;
  padding: 0px;
}
.cat {
  width: 40px;
  height: 40px;
  padding: 3px;
}
.searchlogo {
  width: 35px;
  height: 33px;
  margin-left: -40px;
  opacity: 0.8;
}
.nav1 {
  /* border: 10px solid black; */
  height: 200px;
  width: auto;
  background-color:#570a73;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  padding-left: 10px;
  font-size: 16px;
  width:500px;
  height: 45px;
  border-radius: 5px;
  
 
}
.BTN {
  cursor: pointer;
  width: 300px;
  height: 45px;
  font-size: 30px;
  display: flex;
  justify-items: center;
  margin-left: 100px;
}
.bas {
  margin-left: 20px;
  padding-left: 20px;
  background:none;
  padding-right: 20px;
  font-weight: 800;
}

span {
  
  background-color: black;
  color: aliceblue;
  height: 35px;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  margin-top: 0px;
  padding-top: 11px;
  margin-right: 0px;
  
}

